{% extends "base.html"%}

{# Номер лаб. работы: #}
{%block lab%} Лабораторная работа №4 {%endblock%}

{# Основная часть: #}
{%block main%}
    <h1>Формы (POST)</h1>
    <div>Тема лаборатоной - Формы (POST). Список сделаных страниц:</div>
    <ol>
        <li><a href="/lab4/div-form">Деление</a></li>
        <li><a href="/lab4/multi-form">Умножение</a></li>
        <li><a href="/lab4/sum-form">Сложение</a></li>
        <li><a href="/lab4/sub-form">Вычетание</a></li>
        <li><a href="/lab4/power-form">Возведение в степень</a></li>
    </ol>
{%endblock%}