{% extends "base.html"%}

{# Номер лаб. работы: #}
{%block lab%} Лабораторная работа №4 {%endblock%}

{# Основная часть: #}
{% block main %}
    <h1>Лесопосадка</h1>
    <div>
        Посажено деревьев: {{ tree_count }}
    </div>
    <form method="post">
        <button name="operation" value="plant" {% if tree_count == 10 %}disabled{% endif %}>Посадить дерево</button>
        <button name="operation" value="cut" {% if tree_count == 0 %}disabled{% endif %}>Сребить дерево</button>
    </form>
    <div>
        {{error}}
    </div>
{% endblock %}