{% extends "base.html"%}

{# Номер лаб. работы: #}
{%block lab%} Лабораторная работа №3 {%endblock%}

{# Основная часть: #}
{%block main%}
    <h1>Формы. Cookie</h1>
    <div>Привет, <span style="color: {{name_color}}">{{name}}</span>!</div>
    <div>Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab3/cookie">Куки</a>
        </li>
        <li><a href="/lab3/del_cookie">Удалить Куки</a></li>
        <li><a href="/lab3/form1">Форма</a></li>
       
    </ol>
{%endblock%}